.doc>.page-header {
    height: 8rem;
}
.fa {
    display: contents;
}
.btn{
    min-width: 0;
}

.table-sm th, .table-sm td {
    padding: .7rem !important;
}
.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-prepend>.input-group-text, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-append>.btn {
    padding: 0 0 !important;
}